*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
}

.button {
  text-transform: uppercase;
  background: linear-gradient(85.85deg, #D4F938 23.09%, #32D875 108.69%);
  padding: 16px 32px ;
  border-radius: 8px;
  color: #000;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.button:hover {
  box-shadow: 0px 0px 16px 0px #A8EF9CCC;
}