.footer-container {
    background-color: #229851;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.footer-logo-white-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.footer-container > ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.footer-container > ul li {
    cursor: pointer;
    font-size: 14px;
}

.footer-container > p{
    font-size: 14px;
    margin: 0;
}

.social-handle-container {
    display: flex;
    gap: 20px;
}