.frame11-container {
    padding: 80px 100px;
    text-align: center;
    background-image: url("../Assets/background-frame11.png");
    background-position: center;
    background-size: cover;
}

.frame11-container > h1 {
    font-size: 72px;
    margin: 0;
}

.frame11-container > p {
    font-size: 24px;
}

.frame11-container > h1 > span {
    color: #EBFF25;
}

.frame11-container > section {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(0deg, rgba(16, 16, 16, 0.4), rgba(16, 16, 16, 0.4)), linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
    border: 1px solid #FFFFFF40;
    border-radius: 8px;
    padding: 30px;
    margin: 40px 0px;
}

.frame11-container > section article > h5 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.frame11-container > section article > p {
    font-size: 14px;
    color: #A9A9A9;
    margin: 0;
    margin-top: 5px;

}

.frame11-divider {
    width: 1px;
    background-color: #A9A9A9;
}

